{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2"> Number	    :	{{note.nt_num}}		    </p>
  <p class="h2"> Activity	:	{{note.nt_ac_num}}	    </p>
  <p class="h2"> Comment	:	{{note.nt_comment}}	    </p>
  <p class="h2"> Remark	    :	{{note.nt_remark}}		</p>
  <p class="h2"> Trans Date	:	{{note.nt_trans_date}}	</p>
  <p class="h2"> Type		:	{{note.nt_type}}	    </p>
  <p class="h2"> Status	    :	{{note.nt_status}}	    </p>

    </div>

<div class="row"> </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">

 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>
{% endblock %}