{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
 <div class="row">
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div  class="col-md-10 col-xs-10 col-sm-10">
    <h3 class="round3" style="text-align:center;">Holding Instance</h3>
  </div>
  <div class="col-md-1 col-xs-1 col-sm-1"></div>
 </div>
 <div class="row">
  <div class="col-md-10 col-xs-10 col-sm-10"></div>
  <div class="col-md-2 col-xs-1 col-sm-1">
   <br/>

  </div>
 </div>
 <br/>
 {% for hold in HoldingInstance_list %}
  <div class="row">
   <div class="col-md-1 col-xs-1 col-sm-1"></div>
   <div class="col-md-7 col-xs-7 col-sm-7">
    <ul class="list-group">
       <li class="list-group-item ">
     <a href="{% url 'addoutput' hold.pk %}">{{ hold.hi_code }} - {{ hold.hi_hd_num }}-{{ hold.hi_start_date }}-
        {{ hold.hi_end_date }} - {{ hold.hi_desc }} - {{ hold.hi_use_type }} - {{ hold.hi_size }}</a>  <span class="badge"></span>
    </li>
     </ul>
    <br>
   </div>

   <div class="col-md-1">
    <a href="{% url 'editholdinginstance' hold.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-pencil"></span>
     </button>
    </a>
   </div>

   <div class="col-md-1">
    <a href="{% url 'activity' hold.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-menu-down"></span>
     </button>
    </a>
   </div>

   <div class="col-md-1">
    <a href="{% url 'activity_r' hold.pk %}">
     <button type="button" class="btn btn-info">
      <span class="glyphicon glyphicon-menu-up"></span>
     </button>
    </a>
   </div>

   <div class="col-md-1 col-xs-1 col-sm-1"></div>
  </div>
 {% endfor %}
</div>
{% endblock %}
