{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2"> Number	        :	{{ curr.cu_num }}</p>
  <p class="h2"> Code	        :	{{ curr.cu_code }}</p>
  <p class="h2"> Name		    :	{{ curr.cu_name }}</p>
  <p class="h2"> Base Curr      :	{{ curr.cu_num }}</p>
  <p class="h2"> Rate           :	{{ curr.cu_code }}</p>
  <p class="h2"> From		    :	{{ curr.cu_name }}</p>
  <p class="h2"> Status		    :	{{ curr.cu_name }}</p>
    </div>

<div class="row"> </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">

 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>
{% endblock %}