{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
<div class="row"></div>
<br/>
<div class="row">
 <div class="col-md-1 col-xs-1 col-sm-1">
    </div>
 <div class="col-md-8 col-xs-8 col-sm-8">
  <p class="h2"> Number	         :	{{store.sn_code}}</p>
  <p class="h2"> Name		     :	{{store.sn_name}}</p>
  <p class="h2"> Responsible     :	{{store.sn_resp}}</p>
  <p class="h2"> Phone           :	{{store.sn_phone}}</p>
  <p class="h2"> Address		 :	{{store.sn_paddress}}</p>
  <p class="h2"> Town		     :	{{store.sn_to_code}}</p>
    </div>
<div class="row"> </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
 <div class="col-md-10 col-xs-10 col-sm-10">

 </div>
 <div class="col-md-1 col-xs-1 col-sm-1"></div>
</div>
</div>
{% endblock %}